<h1>Krishna's Hair Salon</h1>
<p>Top recognized salon on the web! Don't miss your chance of booking one of our stylists!</p>

<div class="row">
#foreach ($stylist in $stylists)
  <div class="col-sm-4">
    <h2><a href="/stylists/$stylist.getId()">$stylist.getName()</a></h2>
    <p>$stylist.getSpecialty()</p>
  </div>
#end
</div>
